* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
    margin: 0;
    font-family: proxima-nova, sans-serif;
    line-height: 1.6;
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.left.col { width: 300px; background: #A5A5A5; }
.right.col { left: 300px; right: 0; }
.header.row { height: 30px; line-height: 26px; background: #858585; padding: 4px; text-align:center; }
.body.row { top: 30px; bottom: 200px; }
.footer.row { height: 200px; bottom: 0; background: #858585; }

fieldset { border-style: none; }
li { list-style-type: none; }

#cy {
    position: relative;
    width: 100%;
    height: 100%;
}
