* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family:Arial;
}

body { 
  margin: 0;
  font-size:12px;
  font-weight:normal;
  font-family:Arial;
}

#afterUpload {
  min-width: 1000px;
}

#beforeUpload {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width:400px;
  padding: 10px;
  border: 2px dashed darkgrey;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.myButton.upload {
  margin: 20px;
}

select.upload {
  font-size: 18px;
  width: 200px;
  background: #fff;
  border: 1px solid black;
  /*border: 1px solid silver;*/
  outline:0px;
  margin: 10px;
}

#tooBig {
  position:absolute;
  width:300px;
  height:200px;
  z-index:5;
  top:50%;
  left:50%;
  margin:-100px 0 0 -150px;
  padding: 20px;
  border: 2px dashed darkgrey;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.top { 
  height: 50px; 
  padding-top: 20px;
  padding-left: 30px;
  font-size: 14px;
}

.middle { 
  top: 50px; 
  bottom: 65px;
}

.bottom {
  height: 65px;
  bottom: 0px;
  padding-left: 30px;
}

.left {
  left: 0px;
  /*height: 500px;*/
  width: 450px;
  z-index: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: 20px;
  margin: 40px;
  border: 2px dashed darkgrey;
  border-radius: 5px;
  text-align: center;
}

div.menuSection {
  margin-right: 50px;
  display: inline;
}

span.detail {
  font-size: 20px;
  margin-right: 15px;
  margin-left: 1px;
}

span.detailCommunity {
  font-size: 20px;
  margin-right: 1px;
  margin-left: 1px;
}

span.help {
  color: red;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 2px;
  color: red;
  font-weight: bold;
  line-height: 1.3em;
  border: 1px solid grey;
  border-radius: 3px;
}

fieldset { 
  border-style: none; 
  -webkit-padding-before: 0.0em;
  -webkit-padding-start: 0.0em;
  -webkit-padding-end: 0.0em;
  -webkit-padding-after: 0.0em;
}
li { list-style-type: none; }

#navigateCommunity {
  padding: 7px;
}

#cy {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overlay {
  display: table-cell;
  vertical-align: middle;
  min-height: 12em;
  background-color: black;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.2; /* also -moz-opacity, etc. */
  z-index: 10;
}

#progressBar {
  position:absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 600px;
  height: 45px;
  border: 1px solid #111;
  background-color: #292929;
  opacity: 1.0;
  z-index: 11;
}
 
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

.big-green {
  border-radius: 10px;
  padding: 5px;
  background: #000924;
  border: 1px solid #111;
  box-shadow: 0 2px 3px #333;
}

.big-green div {
  background: #1cc300 url(type_4.gif) top right;
  border-radius: 6px;
  box-shadow: 0 5px 5px #ccc inset;
  text-indent: 99999px;
  overflow: hidden;
}

select.view {
  font-size: 20px;
  background: #fff;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  outline:0px;
}

input[type=number] {
  font-size: 20px;
  background: #fff;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  outline:0px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}
.myButton:active {
  position:relative;
  top:1px;
}

.backButton {
  width: 100px;
  height: 25px;
  padding: 3px;
}

.graphButton {
  margin-right: 20px;
}

.pageButton {
  height: 30px;
  width: 35px;
  padding: 5px;
  margin: 5px;
}

.communityButton {
  width: 150px;
  margin: 10px;
}

.layoutButton {
  width: 150px;
  /*height: 25px;*/
  /*padding: 3px;*/
}

.layoutButton.red {
  background: red;
}

hr {
  border: 0px;
  border-bottom: 2px dashed darkgrey;
}

/*  Table
===================*/

.resultTable {
  margin-bottom: 15px;
  padding:0px;
  width: 100%;
}

.resultTable table{
  border-collapse: collapse;
  border-spacing: 0;
  margin:0px;
  padding:0px;
}

.resultTable tr:nth-child(odd) { 
  background-color:#b7b7b7; 
}

.resultTable tr:nth-child(even) { 
  background-color:#ffffff; 
}

.resultTable td{
  vertical-align:middle;
  border:1px solid #000000;
  border-width:1px 1px 1px 1px;
  text-align:left;
  padding:3px;
  color:#000000;
  padding-right: 20px;
  white-space: nowrap;
}

.resultTable th{
  background-color:#6d6d6d;
  border:0px solid #000000;
  border-width:1px 1px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  padding: 4px;
  padding-right: 20px;
  white-space: nowrap;
}