<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
   
    <display-name>Community Detection Servlets</display-name>
    <description>Servlets for performing community detection on edgelist graphs</description>
    
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
              <servlet-name>HelloServletName</servlet-name>
              <servlet-class>uk.ac.bham.cs.commdet.servlet.HelloServlet</servlet-class>
     </servlet>
     <servlet-mapping>
             <servlet-name>HelloServletName</servlet-name>
             <url-pattern>/HelloWorld</url-pattern>
     </servlet-mapping>
	
	<servlet>
    	<description>Run Label Propagation - jQuery Ajax Request</description>
   		<display-name>Run Label Propagation</display-name>
        <servlet-name>RunLabelPropagation</servlet-name>
        <servlet-class>uk.ac.bham.cs.commdet.servlet.RunLabelPropagation</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>RunLabelPropagation</servlet-name>
    	<url-pattern>/RunLabelPropagation</url-pattern>
    </servlet-mapping>	
 
</web-app>
